<footer class="footer">
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Repositories</p>
                <p class="title">60</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Followers</p>
                <p class="title">11</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Following</p>
                <p class="title">12</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Stars</p>
                <p class="title">492</p>
            </div>
        </div>
    </nav>
    <div class="content has-text-centered">
        <p><strong>{{ site.title }}.github.io</strong> by {{ site.owner }}. Hosted by <i class="fab fa-github"></i>.</p>
        <p>The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><i
                    class="fab fa-creative-commons"></i> BY NC SA 4.0</a>.</p>
    </div>
</footer>