<div class="fixed-wrapper">
    <div class="content has-text-white-ter">
        <h1>
            <a href="{{ site.url }}/">
                {{ site.title }}
            </a>
        </h1>
        <p>{{ site.description }}</p>
    </div>
    <!-- include page menu -->
    <div class="has-text-white-ter">
        <p>You can also find me on:</p>
        <ul class="social-links">
            {% if site.github_username %}
            <li class="is-size-3">
                <a href="https://github.com/{{ site.github_username }}">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            {% endif %}
            {% if site.stackoverflow_username %}
            <li class="is-size-3">
                <a href="https://stackoverflow.com/users/{{ site.stackoverflow_username }}">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </li>
            {% endif %}
            {% if site.twitter_username %}
            <li class="is-size-3">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>